p
{
	font-size: 2em;

}
h1
{
	color: black;
	font-size :4em;
	text-align:center;
}
body
{
	font-family: 'Arial';
	background-color: #F4FEFE;
}
h2>img
{
	float: left;
	width: 150px;
	height: auto;
	padding-right: 1%;
}
.fix
{
	left:90px;
	right: 2%;
	text-align: justify;
	position: absolute;
	letter-spacing: 1px;
}
.image 
{
	position: absolute;
	top: 1%;
	left: 0.5%; 
	height: 70px;
    transition-timing-function: ease-in-out; 
    transition-property: transform;
    transition-duration: 1s;
}
.image:hover
{
    transform: rotate(180deg);
    content:url("cancel.png");
}

.menu
{
	float: right;
	position: relative;
	top: -125px;
	right: 10px; 
	height: 72px;
	opacity: 1;
	margin-top: 5%;

}
.menu:hover
{
  transition-duration: 1s;
  opacity:.5;
}
div
{
	width:0px;
    transition:width 1s;
}
div:hover
{
	width: 80px;
	float: left;
}
header>img
{
	width: 8%;
	height: auto;
	position: absolute;
	top: 5%;
	right: 2%;
}
header
{
	text-align: right;
	font-size: 1.5em;
}