h1
{
  color: black;
  font-size :4em;
  text-align:center;
}
h2
{
  font-size: 2em;
  text-align:center;
}
p
{
  font-size: 1.5em;
  clear: both;
}
img
{
  float: left;
  padding-bottom: 1%;
}
#customers 
{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

body
{
  font-family: 'Arial';
  background-color: #F4FEFE;
  font-size: 1.2em;

}
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #90C7FF;
  color: white;
  text-shadow: 2px 2px 5px black;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #90C7FF;
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: url("house.png");
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 40px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
a:not(.bouton) 
{
  text-decoration: none;
  position: relative;
  color:black;
  font-weight: bold; 
}
a:not(.bouton):hover 
{
  text-decoration: none;
  text-shadow: 2px 2px 5px black;
  color: #90C7FF;
}


a:not(.bouton):after 
{
  border-radius: 2em;
  border-top: 0.1em solid #fef86c;
  content: "";
  position: absolute;
    right: 100%;
    bottom: 0em;
    left: 0;
  transition: right 1s ease-in-out;
}

a:not(.bouton):hover:after {
  right: 0;
}