* 
{
  box-sizing: border-box;
}
h2
{
	font-size: 2em;
}
p
{
	font-size: 1.5em;
}
body 
{
  background-color: #272D2D;
  font-family: "Arial";
}

.timeline
{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after
{
  content: '';
  position: absolute;
  width: 6px;
  background-color: red;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container
{
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after
{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: pink;
  border: 4px solid #272D2D;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left
{
  left: 0;
}

.right
{
  left: 50%;
}

.left::before
{
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before
{
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after
{
  left: -16px;
}

.content
{
  padding: 20px 30px;
  background-color: #F4FEFE;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px)
{
  .timeline::after
  {
    left: 31px;
  }

  .container
  {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before
  {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after
  {
    left: 15px;
  }

  .right
  {
    left: 0%;
  }
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #90C7FF;
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: url("house.png");
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 40px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
a:not(.bouton) 
{
  text-decoration: none;
  position: relative;
  color:black;
  font-weight: bold; 
}
a:not(.bouton):hover 
{
  text-decoration: none;
  text-shadow: 2px 2px 5px black;
  color: #90C7FF;
}


a:not(.bouton):after 
{
  border-radius: 2em;
  border-top: 0.1em solid #fef86c;
  content: "";
  position: absolute;
    right: 100%;
    bottom: 0em;
    left: 0;
  transition: right 1s ease-in-out;
}

a:not(.bouton):hover:after {
  right: 0;
}