p
{
	font-size: 2em;
	text-align: justify;

}
h1
{
	color: black;
	font-size :4em;
	text-align:center;
}
body
{
	font-family: 'Arial';
	background-color: #F4FEFE;
	font-size: 100%;
	padding-right: 1%;
}
.ia
{
	float: left;
	padding-right: 1%;
	padding-bottom: 1%;
}
h2
{
	font-size: 2.5em;
	clear: both
}
.button 
{
  display: inline-block;
  border-radius: 4px;
  background-color: #90C7FF;
  border: none;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: url("house.png");
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 40px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

a:not(.bouton) 
{
  text-decoration: none;
  position: relative;
  color:black;
  font-weight: bold; 
}
a:not(.bouton):hover 
{
  text-decoration: none;
  text-shadow: 2px 2px 5px black;
  color: #90C7FF;
}


a:not(.bouton):after 
{
  border-radius: 2em;
  border-top: 0.08em solid #fef86c;
  content: "";
  position: absolute;
    right: 100%;
    bottom: 0em;
    left: 0;
  transition: right 1s ease-in-out;
}

a:not(.bouton):hover:after {
  right: 0;
}
.lien_frama
{
	float: right;
	font-size: 3em;
}