


#foot
{
	
display: flex;
justify-content:space-between;
background-color:#90C7FF;
text-align : center;
}



.foot2
{
padding-left : 25%;



	
}

.foot3 {
	
	
align-self : flex-end;
padding-left : 25%;
	
	
}

.button {
  display: inline-block;
  border-radius: 5px;
  background-color: #f4511e;
  border:none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 30px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}